<div style="width: 30%; padding: 4rem;">
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed necessitatibus laboriosam itaque
                recusandae
                sapiente, amet dolor, voluptates ipsa enim aperiam atque aliquam porro sit quis architecto quas
                deleniti
                ea animi.</p>
        </div>
    </div>
</div>