<!-- q is inline used for quote and blockquote is a block level element -->
<blockquote class="quote">
    <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et deleniti corporis provident
        officia illo omnis aspernatur corrupti, voluptas vitae labore pariatur aperiam cupiditate adipisci beatae
        expedita suscipit assumenda repellat reprehenderit impedit, iure minima! Animi facilis amet labore id
        mollitia?
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="Images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>